<!doctype html>
<!--[if lt IE 7]> <html class="ie6 oldie"> <![endif]-->
<!--[if IE 7]>    <html class="ie7 oldie"> <![endif]-->
<!--[if IE 8]>    <html class="ie8 oldie"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Конспект</title>
<link href="css/boilerplate.css" rel="stylesheet" type="text/css">
<link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
<link href="css/jsk.css" rel="stylesheet" type="text/css">

<!--[if lt IE 9]>
<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<script src="js/respond.min.js"></script>
<style>
  #areas a {
    border: #ffffff;
  }
  #areas div {
    margin-left: 30px;
  }
</style>
</head>

<body>
<div class="gridContainer clearfix">
  <div id="areas" class="fluid list-group panel">
  </div>
  <div id="mems" class="fluid"></div>
</div>

<script type="text/template" id="memTemplate">
  <p><h4> <%= mem.name %> </h4></p>
  <p> <%= mem.code %> </p>
  <p> <%= mem.areas %> </p>
  <% for (var i in mem.connections) { %>
    <a class="listOfMems" href="#mems/<%= mem.connections[i]%>" > <%= mem.connectionsNames[i] %> </a></br>
  <% } %>
  <p> <%= mem._id %> </p>
  <a class="updateMem" href="javascript:;">изменить</a>
  <a class="deleteMem" href="javascript:;">удалить</a>
</script>

<script type="text/template" id="memsTemplate">
  <% for (var i in mems) { %>
	<div>
	  <a class="listOfMems" href="#mems/<%= mems[i]._id %>" > <%= mems[i].name %> </a> 
	</div>
  <% } %>
</script>

<script type="text/template" id="newMemTemplate">
  <p><input id="newName" type="text" name="name" placeholder="имя"></p>
  <p><textarea id="newCode" name="code" rows="20" cols="50" placeholder="мем"></textarea></p>
  <p><input id="newAreas" type="text" name="areas" placeholder="поля"></p>
  <p><input id="newConnections" type="text" name="connections" placeholder="связи"></p>
  <p><a id="send" class="btn"> сохранить </a><p>
</script>

<script type="text/template" id="updateMemTemplate">
  <input id="uName" type="text" name="uname" value=<%=mem.name%> > </br></br>
  <textarea id="uCode" name="ucode" rows="20" cols="50" ><%=mem.code%></textarea></br></br>
  <input id="uAreas" type="text" name="uareas" value=<%=mem.areas%> > </br></br>
  <input id="uConnections" type="text" name="uconnections" value=<%=mem.connections%> > </br></br>
  <input id="uId" type="text" name="uid" value=<%=mem._id%> > </br></br> 
  <a id="update" class="btn"> обновить </a>
</script>

<script src="components/jquery/dist/jquery.js"></script>
<script src="components/bootstrap/dist/js/bootstrap.js"></script>
<script src="components/underscore/underscore.js"></script>
<script src="components/backbone/backbone.js"></script>
<script src="js/jsk.js"></script>

</body>
</html>
